<template>
<div class="font-sans antialiased">
  <nav class="flex items-center justify-between flex-wrap bg-gray-700 p-6">
    <div class="flex items-center flex-no-shrink text-white mr-6">
      <div class="flex max-w-screen justify-center items-center mx-auto ">
      <nuxt-link to="/">
     <img src="~/assets/SamLogo.svg"  />
     </nuxt-link>
     
     </div>
    </div>
    <div class="block sm:hidden">
  
      <button class="text-gray-100 w-10 h-10 relative focus:outline-none bg-gray-600" @click="toggle">
               <span class="sr-only">Open main menu</span>
               <div class="block w-5 absolute left-1/2 top-1/2   transform  -translate-x-1/2 -translate-y-1/2">
                   <span aria-hidden="true" class="block absolute h-0.5 w-5 bg-current transform transition duration-500 ease-in-out" :class="{'rotate-45': open,' -translate-y-1.5': !open }"></span>
                   <span aria-hidden="true" class="block absolute  h-0.5 w-5 bg-current   transform transition duration-500 ease-in-out" :class="{'opacity-0': open } "></span>
                   <span aria-hidden="true" class="block absolute  h-0.5 w-5 bg-current transform  transition duration-500 ease-in-out" :class="{'-rotate-45': open, ' translate-y-1.5': !open}"></span>
               </div>
           </button>
     
    </div>
    <div :class="open ? 'block': 'hidden'" class="w-full flex-grow sm:flex sm:items-center sm:w-auto">
      <div class="text-sm sm:flex-grow">
        <NuxtLink to="/"
         class="no-underline block mt-4 sm:inline-block sm:mt-0  text-lime-green hover:text-white mr-4">
          Home</NuxtLink>
        <NuxtLink to="/client_stories"
         class="no-underline block mt-4 sm:inline-block sm:mt-0 text-lime-green hover:text-white mr-4">
          Client Stories</NuxtLink>
          <NuxtLink to="/getting_started"
         class="no-underline block mt-4 sm:inline-block sm:mt-0 text-lime-green hover:text-white mr-4">
          Getting Started</NuxtLink>
      
      </div>
      <div>
        <span class="no-underline inline-block text-sm px-4 py-2 leading-none mt-4 sm:mt-0"><Phone /></span>
      </div>
    </div>
  </nav>
</div>
</template>

<script>



 

    export default {
    data() {
      return {
        open: false
      }
    },
    methods: {
    toggle() {
     this.open = !this.open
    }
    }
   
  }
   
  
</script>
<style>
.nuxt-link-exact-active{

  @apply text-gray-50;
}

</style>