<template>
  <div>
   <Nav />
  <div class="container">
    <Nuxt />
  </div>
  </div>
</template>
<style>

h1{
    @apply text-xl font-semibold mt-3;
}
.container{
  @apply  justify-center items-center text-center mx-auto;
}

</style>