<template>
  <div>
  <h1 class="text-gray-800">Client Stories</h1>
   
 <div class="container my-12 mx-auto px-4 md:px-12">
    <div class="flex flex-wrap -mx-1 lg:-mx-4">

        <!-- Column -->
        <div class="my-1 px-1 w-full md:w-1/2 lg:my-4 lg:px-4 lg:w-1/3">

            <!-- Article James -->
            <article class="overflow-hidden rounded-lg shadow-lg">

               <NuxtPicture provider="cloudinary" src="IMG-20210709-WA0000_ojglua.jpg" height="1300" width="1300" fit="fill" />

                <header class="items-center justify-between leading-tight p-2 md:p-4">
         <div class="font-bold text-xl mb-2">James</div>
        <p class="text-gray-700 text-base">
          I had the privilege of working with James over a 5 year period helping him to recover from a hip replacement and continue on his golfing journey.
        </p>
                </header>

                <footer class="px-6 pt-4 pb-2">
                <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#hip replacement</span>
                <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#golf</span>
     
                </footer>

            </article>
            <!-- END Article -->

        </div>
        <!-- END Column -->

        

        <!-- Column -->
        <div class="my-1 px-1 w-full md:w-1/2 lg:my-4 lg:px-4 lg:w-1/3">

            <!-- Article Eileen-->
            <article class="overflow-hidden rounded-lg shadow-lg">

              <NuxtPicture provider="cloudinary" src="IMG-20210709-WA0003_wktxjo.jpg" height="1300" width="1300" fit="fill" />


                <header class="items-center justify-between leading-tight p-2 md:p-4">
         <div class="font-bold text-xl mb-2">Eileen</div>
        <p class="text-gray-700 text-base">
      I have been training local Chiswick businesswomen Eileen for nearly 10 years, training twice a week concentrating on her general health, fitness &amp; nutrition.       </p>
                </header>
   <footer class="px-6 pt-4 pb-2">
                <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#general fitness</span>
                <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#nutrition</span>
     
                </footer>

            </article>
            <!-- END Article -->

        </div>
        <!-- END Column -->
     <!-- Column -->
        <div class="my-1 px-1 w-full md:w-1/2 lg:my-4 lg:px-4 lg:w-1/3">

            <!-- Article Jane -->
            <article class="overflow-hidden rounded-lg shadow-lg">

             <NuxtPicture provider="cloudinary" src="IMG-20210709-WA0005_yzjlr6.jpg" height="1300" width="1300" fit="fill" />


              <header class="items-center justify-between leading-tight p-2 md:p-4">
         <div class="font-bold text-xl mb-2">Chris</div>
        <p class="text-gray-700 text-base">
      Chris is a Sculptor, he needs to keep in shape as he is on his feet all day. 
We started together firstly to help Chris recover from knee surgery and have continued for over 15 years. Chris trains with me twice per week weight training and he supplements this with mountain biking at the weekend.    </p>
                </header>

          <footer class="px-6 pt-4 pb-2">
                <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#knee surgery</span>
                <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#strength &amp; conditioning</span>
     
                </footer>

            </article>
            <!-- END Article -->

        </div>
        <!-- Column -->
        <div class="my-1 px-1 w-full md:w-1/2 lg:my-4 lg:px-4 lg:w-1/3">

            <!-- Article Mike -->
            <article class="overflow-hidden rounded-lg shadow-lg">

             <NuxtPicture provider="cloudinary" src="IMG-20210714-WA0000_xljvpz.jpg" height="1300" width="1300" fit="fill" />


              <header class="items-center justify-between leading-tight p-2 md:p-4">
         <div class="font-bold text-xl mb-2">Mike</div>
        <p class="text-gray-700 text-base">
     Mike has a pretty-tough regime utilising his home gym and drop-in classes. We train together once per week with a mix of boxing pad work, HIIT and strength training keeping his mind and body agile for the city.     </p>
                </header>

          <footer class="px-6 pt-4 pb-2">
                <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#boxing</span>
                <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#hiit</span>
     
                </footer>

            </article>
            <!-- END Article -->

        </div>
        <!-- END Column -->
          <!-- Column -->
        <div class="my-1 px-1 w-full md:w-1/2 lg:my-4 lg:px-4 lg:w-1/3">

            <!-- Article Mike -->
            <article class="overflow-hidden rounded-lg shadow-lg">

             <NuxtPicture provider="cloudinary" src="IMG-20210709-WA0004_arpjfm.jpg" height="1300" width="1300" fit="fill" />


              <header class="items-center justify-between leading-tight p-2 md:p-4">
         <div class="font-bold text-xl mb-2">Jane</div>
        <p class="text-gray-700 text-base">
       I have been working with Jane over a 10-year period helping to keep her fit and strong. Cutting sugar out of her diet had a great effect on her tone &amp; general health. We train together once per week giving her new ideas to implement in her own gym sessions &amp; with her gym buddies.       </p>
                </header>

          <footer class="px-6 pt-4 pb-2">
                <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#strength &amp; tone</span>
                <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#nutrition</span>
     
                </footer>

            </article>
            <!-- END Article -->

        </div>
        <!-- END Column -->
       <div class="my-1 px-1 w-full md:w-1/2 lg:my-4 lg:px-4 lg:w-1/3">

            <!-- Article Jo-->
            <article class="overflow-hidden rounded-lg shadow-lg">

             <NuxtPicture provider="cloudinary" src="IMG-20210722-WA0001_nxtem0.jpg" height="1300" width="1300" fit="fill" />


              <header class="items-center justify-between leading-tight p-2 md:p-4">
         <div class="font-bold text-xl mb-2">Jo</div>
        <p class="text-gray-700 text-base">
      A supercharged NHS Dr, Jo pushes herself to the max with a mix of strength and high intensity circuit style training. Very competitive and adventurous Jo supplements our training with 7-10k runs and regular surfing trips!      </p>
                </header>

          <footer class="px-6 pt-4 pb-2">
                <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#hiit</span>
                <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#surfing</span>
     
                </footer>

            </article>
            <!-- END Article -->

        </div>
    </div>
</div>
</div>
</template>
<script>
export default {
  head: {
    title: 'Client Stories',
    meta: [
      {
        hid: 'stories',
        name: 'Client Stories',
        content: 'Selected stories of clients engaged with Sam Stone Personal training'
      }
    ],
  }
}
</script>
<style>

</style>