<template>
    <div>
<h1>Getting Started</h1>
<p class="block p-3">
 Based at my Gym in Chiswick, home or Park visits can be arranged. 
       </p>
 
<div class="container m-auto">
      <div class="flex flex-wrap items-center justify-center w-full text-center">
      
 
          
             

        <div class="w-full p-4 md:w-1/2 lg:w-1/4">
          <div class="flex flex-col rounded border-2 border-lime-green">
            <div class="py-5 bg-white text-gray-800">
               <p class="uppercase  font-extrabold">
               
              </p>
              <h3>Taster Session</h3>
              <p class="text-5xl font-bold">
               Free<span class="text-3xl"></span>
              </p>
              <p class="text-xs text-white uppercase ">One Time Offer</p>
            </div>
            <div>
              <div class="py-5 bg-lime-green text-gray-800 rounded-b">
                <p>1 x 30 minute session</p>
                <p>Goals and Objectives</p>
                <p>Baseline Fitness</p>
             
              </div>
            </div>
          </div>
        </div>
       <!-- standard plan -->
        <div class="w-full p-4 md:w-1/2 lg:w-1/4">
          <div class="flex flex-col rounded border-2 border-lime-green bg-white">
      <div class="py-7 bg-lime-green text-gray-800 rounded-t">
              <p class="uppercase  font-extrabold">
                Most Popular
              </p>
              <h3>Standard</h3>
              <p class="text-5xl font-bold">
                &pound;55.<span class="text-3xl">00</span>
              </p>
              <p class="text-xs uppercase">Per Week</p>
            </div>
            <div>
              <div class="py-5 bg-lime-green text-gray-800 rounded-b">
                <p>1 x 60 minute session/week</p>
                <p>Programme tailored to goals</p>
                <p>Progress monitoring</p>
             
              </div>
            </div>
          </div>
        </div>
            <!-- advanced plan -->
        <div class="w-full p-4 md:w-1/2 lg:w-1/4">
          <div class="flex flex-col rounded border-2 border-lime-green">
            <div class="py-5 text-gray-800 bg-gray-bg-white00">
              <h3>Advanced</h3>
              <p class="text-5xl font-bold">
                &pound;100.<span class="text-3xl">00</span>
              </p>
              <p class="text-xs uppercase">Per Week</p>
            </div>          
            <div class="py-5 bg-lime-green text-gray-800 rounded-b">
              <p>2 x 60 minute sessions/week</p>
              <p>Event specific programme</p>
              <p>Results Guarantee</p>
              
            </div>            
          </div>
        </div>
      </div>
    </div>    
<p class="block p-3">
     My goal is enable my clients to train themselves in an effective and time efficient way, I can’t always be with there! There are many hours wasted in gyms by people not knowing what they are doing.
You can’t outrun your knife &amp; fork! A trip to supermarket can be helpful to show how to what and what not to buy. 
  
</p>
 
        </div>
</template>
<script>
export default {
  head: {
    title: 'Getting Started',
    meta: [
      {
        hid: 'getting_started',
        name: 'Getting Started',
        content: 'Personal Training package options'
      }
    ],
  }
}
</script>
<style>

</style>