<template>
  <div>
    <h1>Home</h1>
   <div class = "imagecontainer">
      <NuxtPicture provider="cloudinary"  src="pgjjgpiptbondve7g8ct" height="300" width="300" fit="fill" />
   </div>
    
   <p class="block p-3">
I enjoy working with all ages and abilities, developing fitness, confidence &amp; helping people to achieve their goals.

Achieving a sports science degree from St Mary’s University in 1994 I have been working, managing and personal training in gyms ever since.

I have a strong sporting background training alongside professional rugby players and Olympic bobsleigh athletes which has given me an insight into elite level training and many different training techniques which has helped develop my personal training philosophy. 
 </p>
    
 <div class="flex flex-wrap  overflow-hidden ">   
   <figure class="my-3 px-3 w-full overflow-hidden sm:my-2 sm:px-2 md:my-3 md:px-3 md:w-1/3 lg:my-3 lg:px-3 lg:w-1/3 xl:w-1/2">
     <NuxtPicture provider="cloudinary"  src="07EB3D0E-9630-4FB9-AD6B-422D401AB843.resized_giguly.jpg" height="1300" width="1300" fit="fill"/>
   <figcaption>Demonstrating a body row on TRX.</figcaption>
   </figure>
   <figure class="my-3 px-3 w-full overflow-hidden sm:my-2 sm:px-2 md:my-3 md:px-3 md:w-1/3 lg:my-3 lg:px-3 lg:w-1/3 xl:w-1/2">
     <NuxtPicture provider="cloudinary"  src="5E28E1A0-F02C-434A-835C-446C2B2B7176.resized_e02g3v.jpg" height="1300" width="1300" fit="fill" />
   <figcaption>Ami performs a box jump to develop explosive power.</figcaption>
   </figure> 
   <figure class="my-3 px-3 w-full overflow-hidden sm:my-2 sm:px-2 md:my-3 md:px-3 md:w-1/3 lg:my-3 lg:px-3 lg:w-1/3 xl:w-1/2">
     <NuxtPicture provider="cloudinary" src="4F2BDDB0-F17D-45D8-BC31-B85E54EB5A6C.resized_nx3cqh.jpg" height="1300" width="1300" fit="fill" />
     <figcaption>Rope Tricep extension.</figcaption> 
   </figure>
   <figure class="my-3 px-3 w-full overflow-hidden sm:my-2 sm:px-2 md:my-3 md:px-3 md:w-1/3 lg:my-3 lg:px-3 lg:w-1/3 xl:w-1/2">
      <NuxtPicture provider="cloudinary" src="0CC121C1-3038-4CFF-9BDE-8C1858A9F118.resized_fepmny.jpg" height="1300" width="1300" fit="fill" />
      <figcaption>Incline dumbbell press for upper chest.</figcaption> 
   </figure>

  

  </div>
  
  </div>
</template>
<script>
export default {
  head: {
    title: 'Home page',
    meta: [
      {
        hid: 'description',
        name: 'description',
        content: 'Home page description'
      }
    ],
  }
}
</script>


<style>

.imagecontainer{
  @apply flex content-center justify-center items-center mx-auto mt-5 pt-0;
}
 





.title {
  font-family:
    'Quicksand',
    'Source Sans Pro',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    Arial,
    sans-serif;
  display: block;
  font-weight: 300;
  font-size: 100px;
  color: #35495e;
  letter-spacing: 1px;
}

.subtitle {
  font-weight: 300;
  font-size: 42px;
  color: #526488;
  word-spacing: 5px;
  padding-bottom: 15px;
}

.links {
  padding-top: 15px;
}
</style>